@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// Import page-specific CSS files here.
@import "show";
@import "new";

#map{
 height: 100vh;
 position: sticky;
 top: 0;
}
.instrument-container{
  display: flex;
 justify-content: space-evenly;
  align-items: center;
 }
 
 .instruments-all-container{
  display: flex;
  flex-direction: column;
  padding: 0%;
  background-color: #eeeee6;
 }
 .card{
   padding: 0;
   .card-text{
     margin-bottom: 5px;
   }
 }
 .card-img-top{
   object-fit: cover;
   @media screen and (max-width: 767px) {
    object-fit: cover;
    width: 200px;
    margin-left: 40px;
  } 
 }

 .card-body{
   background-color: rgb(250, 246, 246);
   display: flex;
   justify-content: center;
   align-self: center;
   flex-direction: column;
   @media screen and (max-width: 767px) {
    width: 200px;
    height: 210px;
    margin-left: 40px;
  } 
}

 .instrument-title{
  color: $black;
  @media screen and (max-width: 767px) {
    color: $black;
    margin-top: 5px;
  }
 }

 .like-btn {
  font-size: 25px;
  color: #808080;
  margin-top: 10px;
  }

 
 .unlike-btn {
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  margin-top: 10px;
  }
 
#update{
 text-align: center;
 margin-top: 30px;
 margin-bottom: 30px; 
}

#piano{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; 
}

#strings{
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 30px; 
}

#brass{
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 30px; 
}

#woodwind{
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 30px; 
}

#percussion{
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 30px; 
}

#guitar{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; 
}

