.background-home{
  position: relative;
  background-image: asset_url('210.jpg');
//  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #fa9b48 100%);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.background-home::before{
  content: '';
}

.form-container{
  margin: 80px;
  padding: 30px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  input{
    color: black;
  }
  color: black;
  a{
    color: black;
  }

  .btn{
    color: black;
   background-color: transparent;
   border: black solid 0.2px;
   margin-bottom: 5px;
  }
}


.form-login-container{
  margin: 110px;
  margin-bottom: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: black;
  h2{
    margin-bottom: 5px;
  }
  a{
    color: black;
  }

  .btn{
    color: black;
   background-color: transparent;
   border: black solid 0.2px;
   margin-bottom: 5px;
  }
  @media screen and (max-width: 767px) {
    margin: 80px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
}

.form-control{
  background-color: transparent;
}

.form-select{
  background-color: transparent;
  border: white;
}

.center-container{
  display: flex;
 justify-content: center;
 align-items: center;
}

.file{
  background-color: transparent;
  border: white;
}

.btn-outline-secondary:hover{
  background-color: transparent;
}