// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: gray;
$black:#0E0000;
$purple: rgb(113, 15, 113);
$light-gray: #F4F4F4;
