// Specific CSS for your home-page
// .howto-container{
//   display: ;
// }
.container {
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  min-height:300px;
  width: 200px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgb(230,230,230);
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(230,230,230);
}

.border{
  border-bottom : solid gray;
}

.basic{
border: solid $gray;
flex-shrink: 0;
}
.basic h1{
  margin-bottom: 0;
}

.premium{
  border: solid $purple;
  flex-shrink: 0;
}

.premium h1{
  margin-bottom: 0；
}

.unlimited{
  border: solid $black;
  flex-shrink: 0;
}

.unlimited h1{
  margin-bottom: 0;
}

.text-center {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.top {
  text-shadow: 1px 2px 4px #262121;
}

.text-center{
  font-family: 'PT Serif', serif;
}

h6{
  margin-top: 0;
  color: darkgray;
}

.footer {
  background: black;
  color: #ddd;
  padding: 2rem;
  li {
    line-height: 1.5;
  }
  a {
    color: #aaa;
  }
  hr {
    max-width: 100%;
    border: 0;
    height: 1px;
    background: neutral($primary,2);
  }
}

%col {
  width: 100%;
  @media screen and (min-width: 640px) {
    float: left;
  }
  .tab-row>& {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
  }
}

.col-4 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 33%;
  }
}

.col-6 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 50%;
  }
}

.col-12 {
  @extend %col;
  //width: 100%;
}


.search{
  background-color: black;
}


.wrapper {
  min-height: 100vh;
  //background-color: #FA8BFF;
  //background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  //background-image: linear-gradient(45deg, #d4145a, #fbb03b);
     background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #fa9b48 100%);
     .musician{
      object-fit: cover;
      margin-left: 900px;
    }
     @media screen and (max-width: 767px) {
      .musician{
        object-fit: cover;
        margin-left: 20px;
      }
      h3{
        font-size: 20px;
      }
      h1{
        font-size: 28px;
      }
    }
}

.glass{
  margin:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba( 56, 92, 111, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15.5px );
  -webkit-backdrop-filter: blur( 12.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  
    width: 400px;
    height: 100px;
    padding: 2rem;
  a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
  }

  .box {
    display: flex;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
  }

  .glasses{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      margin-left: 128px;
    }
  }

  .add {
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    position: relative;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
  }

  
  .add:hover {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.6);
  }
  .glass-2{
    margin: 40px;
    margin-right: 40px;
    h1{
      font-family: "Bold-font";
    }
    img{
      object-fit: cover;
      margin-top: 30px;
      margin-bottom: 30px;
      @media screen and (max-width: 767px) {
        width: 400px;
        height: 200px;
      }
    }
  }

