<% if user_signed_in? %>
  <div class="d-flex justify-content-center">
  <h2> <%= current_user.first_name %> 's instruments for rent</h2>
  </div>
    <div class="container">
      <div class="justify-content-center">
        <% @instruments_with_bookings.each do |instrument| %>
          <p><%= instrument.category %></p>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="justify-content-center">
        <% @instruments_without_bookings.each do |instrument| %>
          <p><%= instrument.category %></p>
        <% end %>
      </div>
    </div>

<% else %>
  <h1>Sign in to see your bookings</h1>
<%end %>

<footer class="footer">
    <div class="row">
      <div class="col-6">
        <p><i class="fa fa-phone" aria-hidden="true"></i> +44 (0)123 456 789</p>
			<p><i class="fa fa-envelope" aria-hidden="true"></i> info@tunely.com</p>
      </div>
      <div class="col-6" style="text-align: right;">
        <h3>Tunely</h3>
        <p>111 Meguro-ku, Tokyo, 111-111</p>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">&copy; 2022 Taktivent - <a href="#">Facebook</a> - <a href="#">Twitter</a></div>
    </div>
</footer>
