<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="logo">
     <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag asset_url("tunely.png"), class: "mr-2"%>
    <% end %>
  </div>
  <ul class="navbar-nav me-auto">
  　　<% if user_signed_in? %>
        　<li class="nav-item">
        </li>
        
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" id="menu-toggle-btn">
          <span class="fa fa-bars"></span>
        </label>
        
        <div class="menu">
          <ul>
          <li><a href="instruments#update">New instruments</a></li>
            <li><a href="instruments#piano">Piano & keyboard</a></li>
            <li><a href="instruments#strings">Strings</a></li>
            <li><a href="instruments#brass">Brass</a></li>
            <li><a href="instruments#woodwind">Woodwind</a></li>
             <li><a href="instruments#percussion">Percussion</a></li>
             <li><a href="instruments#guitar">Guiter and Bass</a></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          </ul>
        </div>
　　　　　<% else %>
        <li class="nav-item">
        　　<%= link_to "Login", new_user_session_path, class: "nav-link" %>
        　</li>
        <% end %>
      </ul>
    </div>
  </div>

</div>