<div class="home-banner">
<h1>Tunely</h1>
<p>Let's make music from today!</p>
</div>

 <div class="container">
    <h2 class="text-center">How it works</h2>
    
    <div class="cards">
     
      <div class="card basic">
        <h1>€50~</h1>
        <h6>per rent</h6>
        <h4>Basic</h4>
       <p class = border></p>
        <p>Would you like to rent an instrument just one time? you can pick an instrument.</p>
      </div>
    
      <div class="card unlimited">
        <h1>€200~</h1>
        <h6>per month</h6>
          <h4>Unlimited</h4>
          <p class = border></p>
        <p>One day before the performance? You can get fast delivery and insurances free. No limitations renting time in the month!</p>
      </div>

      <div class="card premium">
        <h1>€100~</h1>
        <h6>per rent</h6>
        <h4>Premium</h4>
        <p class = border></p>
        <p>You would like to rent instruments with delivery and insurances all inclusive?</p>
      </div>
      

     </div>
    </div>
  </div>