<div class="home-banner">
<h1>Tunely</h1>
<p>Let's make music from today!</p>
 <%= link_to "Find instruments", instruments_path, class: "btn btn-outline-dark"%>
</div>

 <div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">
     
      <div class="card basic">
        <h1>€50~</h1>
        <h6>per rent</h6>
        <h4>Basic</h4>
       <p class = border></p>
        <p>Would you like to rent an instrument just one time? you can pick an instrument.</p>
      </div>
    
      <div class="card unlimited">
        <h1>€200~</h1>
        <h6>per month</h6>
          <h4>Unlimited</h4>
          <p class = border></p>
        <p>One day before the performance? Get fast delivery! No limit for monthly rental.</p>
      </div>

      <div class="card premium">
        <h1>€100~</h1>
        <h6>per rent</h6>
        <h4>Premium</h4>
        <p class = border></p>
        <p>You would like to rent instruments with delivery and insurances all inclusive?</p>
      </div>
     </div>
    </div>
  </div>

  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded by <i class="fas fa-music"></i> Taktivent.</p>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>