.fas.fa-trash-alt {
  font-size: 25px;
  color: rgb(7, 7, 7);
  text-shadow: 0px 0px 1px rgb(12, 12, 12);
  // padding: 20px;
  // border: black 1px solid;
}

#instrument-title {
  // padding-left: 50px;
}

#detail-title {
  padding-left: 50px;
}

.min-height-90vh {
  min-height: 90vh;
}

.fit-cover {
  object-fit: cover;
}

.font-fam {
  color: black;
  font-family: 'Circular Std Medium';
  font-size: 25px;
  font-weight: bold;
}

.background-color {
  background-color: #d1d1d4;
}
