// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.instrument-container{
 margin-top: 20px;
}

.card{
  margin:20px;
  .card-text{
    margin-bottom: 5px;
  }
}